In [2]:
import pandas as pd
import numpy as np

In [3]:
path = "E:/my_courses/data mining/project/data_genre/"
path = "C:/Users/User/Downloads/test2/"

# 3️⃣ EDA Phase : Section 2
<hr style="border:2px solid gray"> </hr>

## 📑 PCA

### ✅ PCA on book columns

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
با توجه به heatmap بدست آمده در مرحله EDA متوجه شدیم که بسیاری از ستون ها درون دیتاست book حاوی همبستگی قوی با یکدیگر هستند و لذا برای جلوگیری از multicolinearity و  نیز کاهش ابعاد ورودی مدل از pca استفاده کرده و با بررسی میزان پوشش در هر گام بهترین تعداد کامپوننت را استخراج می کنیم.

In [4]:
book = pd.read_csv(path + 'final_book.csv').drop(['Unnamed: 0'],axis=1)
book.head()

,book_id,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,...,en,fre,ger,ind,jpn,other,per,pol,por,spa
0,1,2008.0,4.34,4780653,4942365,155254,66715,127936,560092,1481305,...,1,0,0,0,0,0,0,0,0,0
1,2,1997.0,4.44,4602479,4800065,75867,75504,101676,455024,1156318,...,1,0,0,0,0,0,0,0,0,0
2,3,2005.0,3.57,3866839,3916824,95009,456191,436802,793319,875073,...,1,0,0,0,0,0,0,0,0,0
3,4,1960.0,4.25,3198671,3340896,72586,60427,117415,446835,1001952,...,1,0,0,0,0,0,0,0,0,0
4,5,1925.0,3.89,2683664,2773745,51992,86236,197621,606158,936012,...,1,0,0,0,0,0,0,0,0,0

In [5]:
print(list(book.columns))

['book_id', 'original_publication_year', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'fantasy, paranormal', 'non-fiction', 'mystery, thriller, crime', 'fiction', 'young-adult', 'children', 'poetry', 'comics, graphic', 'romance', 'history, historical fiction, biography', 'ara', 'en', 'fre', 'ger', 'ind', 'jpn', 'other', 'per', 'pol', 'por', 'spa']

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
پیش از انجام pca ستون های عددی را نرمالایز می کنیم.

In [6]:
from sklearn.preprocessing import normalize
cols = ['original_publication_year','average_rating','ratings_count','work_ratings_count',
        'work_text_reviews_count','ratings_1','ratings_2','ratings_3','ratings_4','ratings_5']

features = book[cols]
book[cols] = pd.DataFrame(normalize(book[cols]),columns = cols)

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
در این قسمت میزان پوشش کامپوننت ها ضمن pca با کامپوننت های 1 الی 9 را بررسی می کنیم. اگر به pca با 6 کامپوننت توجه کنیم 99.6 درصد از تغییرات خروجی توسط 6 کامپوننت پوشش داده شده است که بسیار عدد مناسبی می باشد و با انتخاب آن  تعداد ستون های عددی از 10 ستون به 6 ستون کاهش پیدا می کند و هم پوشش خوبی خواهیم داشت.

In [7]:
import numpy as np
from sklearn.decomposition import PCA

for i in range(1, 10):
    pca = PCA(n_components=i)
    pca.fit_transform(book[cols])
    print(i, np.cumsum(pca.explained_variance_ratio_))
    print('____________________________________________________________________')

1 [0.53697658]
____________________________________________________________________
2 [0.53697658 0.7811582 ]
____________________________________________________________________
3 [0.53697658 0.7811582  0.8698168 ]
____________________________________________________________________
4 [0.53697658 0.7811582  0.8698168  0.94568806]
____________________________________________________________________
5 [0.53697658 0.7811582  0.8698168  0.94568806 0.98904963]
____________________________________________________________________
6 [0.53697658 0.7811582  0.8698168  0.94568806 0.98904963 0.99693383]
____________________________________________________________________
7 [0.53697658 0.7811582  0.8698168  0.94568806 0.98904963 0.99693383
 0.99914593]
____________________________________________________________________
8 [0.53697658 0.7811582  0.8698168  0.94568806 0.98904963 0.99693383
 0.99914593 0.99999999]
____________________________________________________________________
9 [0.53697658 0.7811582  0.8698168  0.94568806 0.98904963 0.99693383
 0.99914593 0.99999999 1.        ]
____________________________________________________________________

In [8]:
pca = PCA(n_components=6)
pca.fit_transform(book[cols])
print(np.cumsum(pca.explained_variance_ratio_))

[0.53697658 0.7811582  0.8698168  0.94568806 0.98904963 0.99693383]

In [9]:
book_pca = pd.DataFrame(pca.transform(book[cols]), columns=[x for x in range(1,7)])
book_pca.head()

          1         2         3         4         5         6
0  0.141303 -0.032637 -0.045050  0.016251  0.004296  0.001278
1  0.197796 -0.031674 -0.031066  0.045601 -0.003742 -0.005120
2  0.007979 -0.100581 -0.023841  0.086025  0.005656  0.054946
3  0.117254 -0.035646 -0.045628  0.021263 -0.004237  0.004112
4 -0.010751 -0.061986 -0.053832  0.017181 -0.012582  0.013082

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
ستون های flag مانند را با 6 ستون حاصل از pca جوین می کنیم.

In [10]:
book_final = pd.concat([book_pca,book.iloc[:,11:]], axis=1)
book_final['book_id'] = book.book_id
book_final.head()

,1,2,3,4,5,6,"fantasy, paranormal",non-fiction,"mystery, thriller, crime",fiction,...,fre,ger,ind,jpn,other,per,pol,por,spa,book_id
0,0.141303,-0.032637,-0.045050,0.016251,0.004296,0.001278,1,0,1,1,...,0,0,0,0,0,0,0,0,0,1
1,0.197796,-0.031674,-0.031066,0.045601,-0.003742,-0.005120,1,0,1,1,...,0,0,0,0,0,0,0,0,0,2
2,0.007979,-0.100581,-0.023841,0.086025,0.005656,0.054946,1,0,0,1,...,0,0,0,0,0,0,0,0,0,3
3,0.117254,-0.035646,-0.045628,0.021263,-0.004237,0.004112,0,0,1,1,...,0,0,0,0,0,0,0,0,0,4
4,-0.010751,-0.061986,-0.053832,0.017181,-0.012582,0.013082,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5

### ✅ Merge book and rating dataset

In [11]:
ratings = pd.read_csv(path + 'ratings.csv')

In [12]:
result = pd.merge(ratings, book_final, how='inner', on='book_id')

In [13]:
result.head()

,user_id,book_id,rating,1,2,3,4,5,6,"fantasy, paranormal",...,en,fre,ger,ind,jpn,other,per,pol,por,spa
0,1,258,5,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
1,11,258,3,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
2,143,258,4,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
3,242,258,5,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
4,325,258,4,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0

In [14]:
result.shape

(5976479, 30)

In [17]:
result.to_csv(path + 'classifier_input.csv', index=False)

# 4️⃣ Setup Phase
<hr style="border:2px solid gray"> </hr>

## 📑 Resampling

### ✅ Check distribution of rating variable

In [18]:
result = pd.read_csv(path + 'classifier_input.csv')
result.head()

,user_id,book_id,rating,1,2,3,4,5,6,"fantasy, paranormal",...,en,fre,ger,ind,jpn,other,per,pol,por,spa
0,1,258,5,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
1,11,258,3,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
2,143,258,4,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
3,242,258,5,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0
4,325,258,4,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,1,0,0,0,0,0,0,0,0,0

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
در این قسمت توزیع متغیر rating درون دیتاست بررسی شده است همانطور که مشخص است بیشترین درصد یعنی 35 درصد از امتیازات امتیاز 4 بوده است و دو امتیاز 1 و 2 درصد بسیار پایینی دارند لذا برای اینکه مدل در یادگیری دچار خطا نشود و پیش بینی امتیازات پایین را نیز به خوبی یاد بگیرد با resample کردن درصد امتیازات 1 و 2 را افزایش می دهیم.

In [19]:
result['rating'].value_counts()

4    2139018
5    1983093
3    1370916
2     359257
1     124195
Name: rating, dtype: int64

In [20]:
print(result['rating'].value_counts() / result['rating'].value_counts().sum() * 100)

4    35.790605
5    33.181628
3    22.938523
2     6.011182
1     2.078063
Name: rating, dtype: float64

### ✅ Make rate distribution balance

In [21]:
def Resampling(rate, proportion):
    global result
    n = ( proportion * (len(result)) - len(result[result['rating'] == rate]) ) / (1 - proportion)
    samp = result[result['rating'] == rate].sample(n=round(n), replace=True)
    balanced_result = pd.concat([result, samp], axis=0)
    result = balanced_result.copy()

In [22]:
Resampling(1, 0.12)
Resampling(2, 0.12)

In [25]:
print(result['rating'].value_counts() / result['rating'].value_counts().sum() * 100)

4    29.920776
5    27.739683
3    19.176496
2    12.000004
1    11.163041
Name: rating, dtype: float64

In [26]:
result.to_csv(path + 'balanced_classifier_input.csv', index=False)